.footer {
      height:30px;
      padding:10px;
      background:white;
      text-align: center;
      font-size:15px ;
      font-family: 'Roboto Mono', monospace;
      font-style:normal;
     
  } 